@{
    ViewData["Title"] = "Comparison Report";
}
@model QualityReport.Models.EntryViewModel

@using (Html.BeginForm("ComparisonReport", "Reports", FormMethod.Post, new { target = "_blank" }))
{
    <p>Comparison Report:</p>
    <br>
    <p>Location:(PCC/PCCI/PCCO)</p>
    <input type="text" width="50" name="ComparisonCompany" />
    <br>
    <br>
    <p>SubDiv: (eg: 20)</p>
    <input type="text" width="50" name="ComparisonTradeNo" />
    <br>
    <br>
@*    <p>Name: '1402148,1501256,1500256,1800092,1601712'</p>
    <input type="text" width="50" name="CompanyList" />*@


    <p>Name:('1402148,1501256,1500256,1800092,1601712')</p>

    <p><input type="text" id="myText" name="demo">
    <button type="button" onclick="myFunction()">Add</button></p>
    <p>You select:</p>
    <p id="CompanyList"></p>

    <input id="abc" type="hidden" width="50" name="CompanyList" value =""/> @*hide*@
    <br>
    <br>
    <input type="submit" value="submit" onclick="myFunction2()"/>
}

    <script>
      
    // Here the value is stored in new variable x 
    function myFunction() {
        var x = document.getElementById("myText").value;
        document.getElementById("CompanyList").innerHTML += x + ',';
    }
    function myFunction2() {
        var xx = document.getElementById("CompanyList").innerHTML;
        document.getElementById("abc").value = xx;
    }
    </script>