@{
    ViewData["Title"] = "Quality Report";
}
@model QualityReport.Models.EntryViewModel

<h2>Quality Report</h2>


@*<input type="text" name="Id" id="Id" />*@


@using (Html.BeginForm("UserReportView", "Reports", FormMethod.Post))
{
    <p> Repeat Report:</p>
    <input id="UserToLookUp" type="text" width="50" name="UserToLookUp" />
    @*@Html.TextBoxFor(model => model.UserToLookUp)*@

    <input type="submit" value="View" target="_blank" />

    <button onClick="javascript:windows.open(@TempData["repeatURL"]);" type="submit" target="_blank">open</button>
    <br>
    <a href="localhost:44308/ReportOutput/QualityRepeatSummary.pdf" type="application/pdf" target="_blank">pdf2</a> @*should work*@

    <p>Using TempData: @TempData["repeatURL"]</p>

}

<a asp-action="GetPdf" asp-controller="Reports">Download</a>
<a asp-action="DownloadFileAsync" asp-controller="Reports">tryOpen</a>

<br>
<a href='http://vmdatabase1/reportserver?%2fQualityApp%2fQualityRepeatSummary&rs:Format=PDF&ProjectID=1601755' target="_blank">pdf</a>
<br>
<a href="localhost:44308/ReportOutput/QualityRepeatSummary.pdf" type="application/pdf" target="_blank">pdf2</a> @*should work*@
<br>
<a onClick="javascript:void(window.open('localhost:44308/ReportOutput/QualityRepeatSummary.pdf'))">test</a>
<br>
<button onclick="NewTab()">open2</button>
<br>

@using (Html.BeginForm("RankReportView", "Reports", FormMethod.Post))
{
    <p>Rank Report:</p>
    <br>
    <p>Company:</p>
    <input id="RankReport" type="text" width="50" name="Company" />
    <br>
    <p>Div:</p>
    <input id="RankReport" type="text" width="50" name="Div" />
    <br>
    <p>SubDiv:</p>
    <input id="RankReport" type="text" width="50" name="SubDiv" />
    <br>
    <p>StartDate:</p>
    <input id="RankReport" type="date" width="50" name="StartDate" />
    <br>
    <p>EndDate:</p>
    <input id="RankReport" type="date" width="50" name="EndDate" />
    <br>
    <p>Report:</p>
    <input id="RankReport" type="text" width="50" name="Report" />
    <br>
    <p>Name1:</p>
    <input id="RankReport" type="text" width="50" name="Name1" />
    <br>
    <p>Name2:</p>
    <input id="RankReport" type="text" width="50" name="Name2" />
    <br>
    <p>Name3:</p>
    <input id="RankReport" type="text" width="50" name="Name3" />
    <br>
    <p>Name4:</p>
    <input id="RankReport" type="text" width="50" name="Name4" />
    <br>
    <p>Name5:</p>
    <input id="RankReport" type="text" width="50" name="Name5" />

    <input type="submit" value="View" formtarget="_blank" />

}

<br>

<script>
    function NewTab() {
        window.open(
            "localhost:44308/ReportOutput/QualityRepeatSummary.pdf", "_blank").focus();
    }
</script>

