@{
    ViewData["Title"] = "Quality Report";
}
@model QualityReport.Models.EntryViewModel

<h2>Quality Report</h2>


@*<input type="text" name="Id" id="Id" />*@


@using (Html.BeginForm("UserReportView", "Reports", FormMethod.Post, new { target = "_blank" }))
{
    <p> Repeat Report:</p>
    <input id="UserToLookUp" type="text" width="50" name="UserToLookUp" />
    <input id="submit1" type="submit" value="submit" target="_blank" />
}

<br>

@using (Html.BeginForm("RankReportView", "Reports", FormMethod.Post))
{
    <p>Rank Report:</p>
    <p>Company:</p>
    <input id="RankReport" type="text" width="50" name="Company" />
    <br>
    <p>Div:</p>
    <input id="RankReport" type="text" width="50" name="Div" />
    <br>
    <p>SubDiv:</p>
    <input id="RankReport" type="text" width="50" name="SubDiv" />
    <br>
    <p>StartDate:</p>
    <input id="RankReport" type="date" width="50" name="StartDate" />
    <br>
    <p>EndDate:</p>
    <input id="RankReport" type="date" width="50" name="EndDate" />
    <br>
    <p>Report:</p>
    <input id="RankReport" type="text" width="50" name="Report" />
    <br>
    <p>Name1:</p>
    <input id="RankReport" type="text" width="50" name="Name1" />
    <br>
    <p>Name2:</p>
    <input id="RankReport" type="text" width="50" name="Name2" />
    <br>
    <p>Name3:</p>
    <input id="RankReport" type="text" width="50" name="Name3" />
    <br>
    <p>Name4:</p>
    <input id="RankReport" type="text" width="50" name="Name4" />
    <br>
    <p>Name5:</p>
    <input id="RankReport" type="text" width="50" name="Name5" />

    <input type="submit" value="View" formtarget="_blank" />

}


<script>

</script>

