@{
    ViewData["Title"] = "Rank Report Report";
}
@model QualityReport.Models.EntryViewModel

@using (Html.BeginForm("RankReport", "Reports", FormMethod.Post, new { target = "_blank" }))
{
    <p>Company:(PCC/PCCI/PCCO)</p>
    <input id="RankReport" type="text" width="50" name="Company" />
    <br>
    <br>
    <p>Div: (eg: 09)</p>
    <input id="RankReport" type="text" width="50" name="Div" />
    <br>
    <br>
    <p>SubDiv: (eg: 20)</p>
    <input id="RankReport" type="text" width="50" name="SubDiv" />
    <br>
    <br>
    <p>StartDate: (01/01/2020)</p>
    <input id="RankReport" type="date" width="50" name="StartDate" />
    <br>
    <br>
    <p>EndDate: (01/01/2022)</p>
    <input id="RankReport" type="date" width="50" name="EndDate" />
    <br>
    <br>
    <p>Report type (choose i/r/p/f or all) (i=issue, r=repeat, p=priority talk, f=forman):</p>
    <input id="RankReport" type="text" width="50" name="Report" />
    <br>
    <br>
    <p>Name: '1086,4172,2091,4236,7'</p>

    <p><input type="text" id="myText" name="demo">
    <button type="button" onclick="myFunction()">Add</button></p>
    <p>You select:</p>
    <p id="CompanyList"></p>

    <input id="abc" type="hidden" width="50" name="Name" value =""/>
    <br>
    <br>
    <input type="submit" value="submit" onclick="myFunction2()"/>

}

    <script>
      
    // Here the value is stored in new variable x 
    function myFunction() {
        var x = document.getElementById("myText").value;
        document.getElementById("CompanyList").innerHTML += x + ',';
    }
    function myFunction2() {
        var xx = document.getElementById("CompanyList").innerHTML;
        document.getElementById("abc").value = xx;
    }
    </script>