@{
    ViewData["Title"] = "Rank Report Report";
}
@model QualityReport.Models.EntryViewModel

@using (Html.BeginForm("RankReport", "Reports", FormMethod.Post, new { target = "_blank" }))
{
    <p>Company:(PCC/PCCI/PCCO)</p>
    <input id="RankReport" type="text" width="50" name="Company" />
    <br>
    <br>
    <p>Div: (eg: 09)</p>
    <input id="RankReport" type="text" width="50" name="Div" />
    <br>
    <br>
    <p>SubDiv: (eg: 20)</p>
    <input id="RankReport" type="text" width="50" name="SubDiv" />
    <br>
    <br>
    <p>StartDate: (01/01/2020)</p>
    <input id="RankReport" type="date" width="50" name="StartDate" />
    <br>
    <br>
    <p>EndDate: (01/01/2022)</p>
    <input id="RankReport" type="date" width="50" name="EndDate" />
    <br>
    <br>
    <p>Report type (choose i/r/p/f or all) (i=issue, r=repeat, p=priority talk, f=forman):</p>
    <input id="RankReport" type="text" width="50" name="Report" />
    <br>
    <br>
    <p>Name1: '1086'</p>
    <input id="RankReport" type="text" width="50" name="Name1" />
    <br>
    <br>
    <p>Name2: '4172'</p>
    <input id="RankReport" type="text" width="50" name="Name2" />
    <br>
    <br>
    <p>Name3: '2091'</p>
    <input id="RankReport" type="text" width="50" name="Name3" />
    <br>
    <br>
    <p>Name4: '4236'</p>
    <input id="RankReport" type="text" width="50" name="Name4" />
    <br>
    <br>
    <p>Name5: '7'</p>
    <input id="RankReport" type="text" width="50" name="Name5" />

    <input type="submit" value="submit" />

}