@model IEnumerable<ProjectNameRepeatContext>

@{
    ViewData["Title"] = "Reports";
}

<h2>Report List</h2>

@*<ul>
    @for (int i = 0; i < (int)ViewData["ID"]; i++)
    {
        <li>@ViewData["Project"]</li>
    }
</ul>*@

 @Html.DisplayNameFor(model => model.ProjectNameRepeat)